---

---

<section class="h-screen bg-[url('public/mobile/image-hero.jpg')] bg-cover bg-center flex flex-col justify-center p-8">
    <article class="p-4 border w-fit">
        <h1 class="text-white text-4xl uppercase font-light">
            immersive experience that deliver
        </h1>
    </article>
</section>