---

---

<section class="h-screen bg-[url('public/mobile/image-hero.jpg')] bg-cover bg-center p-8">
    <article class="max-w-[1096px] mx-auto h-full flex items-center">
        <h1 class="p-4 border max-w-md  text-white text-4xl lg:text-5xl uppercase font-light">
            immersive experience that deliver
        </h1>
    </article>
</section>